html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}

.background-app {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.successMsg {
  background-color: lightgreen;
  padding: 0.1rem;
  margin: 0.1rem;
  border: green solid 0.2rem;
  text-align: center;
  font-weight: 500;
}

.errorMsg {
  background-color: lightcoral;
  padding: 0.1rem;
  margin: 0.1rem;
  border: red solid 0.2rem;
  text-align: center;
  font-weight: 500;
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete {
  background-image: url("./static/images/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5rem !important;
}

.delete:hover {
  cursor: pointer;
}
